body{
	font-size:15px;
}
#header-wrapper{
	background:#000;
	height:100px;
	border-radius:10px;
}
#header{
	width:800px;
	margin:0 auto;
	color:#FFF;
	padding:10px;
	position:relative;
}
.menu{
	position:absolute;
	left:175px;
	top:20px;
	padding:5px;
	font-size:18px;
	background:#333;
	border-radius:5px;
}
.menu li{
	display:inline-block;
	list-syle:none;
	margin:0px 8px;
}
.menu a{
	line-height:25px;
	color:#FFF;
	text-decoration:none;
}
.menu a:hover{
	color:#CCC;
}
#welcome{
	position:absolute;
	left:185px;
	top:10px;
}

#wrapper{
	width:800px;
	margin:0 auto;
}
#page{
	border: 2px solid #000;
	border-top:0px;
	padding:10px;
	border-radius:0px 0px 10px 10px;
	min-height:350px;
	position:relative;
}
#logo{
	width:200px;
	height:80px;
	float:left;
}
#logo a{
	color:#FFF;
	font-size:25px;
	line-height:80px;
	text-decoration:none;
}

#footer{
	padding:10px;
}
.credits{
	float:right;
	font-style:italic;
}

.list-intervention{
	width:600px;
}
.list-intervention th{
	text-align:left;
	padding:4px;
	border:1px solid #000;
	font-weight:bold;
}
.list-intervention td{
	padding:4px;
	width:25%;
	border:1px solid #555;
}

.list-myintervention{
	width:600px;
}
.list-myintervention th{
	text-align:left;
	padding:4px;
	border:1px solid #000;
	font-weight:bold;
}
.list-myintervention td{
	padding:4px;
	width:16%;
	border:1px solid #555;
}

.mark-table{
	margin-top:5px;
	margin-bottom:5px;
}
.mark-table .mark-desc{
	width:200px;
}
.mark-table th{
	border:1px solid #000;
}
.mark-table td{
	border:1px solid #555;
}

.noborder{
	border:0px !important;	
}
.mark-zone{
	position:absolute;
	right:5px;
	top:60px;
}
.pie-chart{
	position:absolute;
	right:5px;
	top:150px;
}
.link-addmark{
	position:absolute;
	right:5px;
	top:20px;
}
.clear{
	clear:both;
}
.intervention-description{
	max-width:380px;
}
.delete-link{
	color:#F00;
	text-decoration:underline;
}
.update-link a{
	color:#0AF;
	text-decoration:underline;
}